@import './settings.scss';
@import './Navbar.scss';
@import "./Style.scss";
@import "./skills.scss";
//@import "oldStyle.scss";

body{
  margin: 0;
  background-color: $color-1;
}

#root{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
