@font-face {
    font-family: "font-1";
    src: url(./fonts/PTSans-Regular.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(./fonts/PTSans-Bold.ttf);
}

@font-face {
    font-family: "font-3";
    src: url(./fonts/GreatVibes-Regular.ttf);
}

$font-1: "font-1"; //La police principale
$font-2: "font-2";  // La grosse police, celle du titre
$font-3: "font-3";  // La police d'écriture à la main

$color-1: #1D1D1D; // La couleur de fond de la partie principale
$color-2: #515152; //La couleur du texte en fond
$color-3: #181818; // La couleur de la Navbar
$color-4: #8d8d8d; // La couleur de la balise 
$color-5: #08fdd8; // La couleur du bouton