@font-face {
    font-family: "font-1";
    src: url(./fonts/PTSans-Regular.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(./fonts/PTSans-Bold.ttf);
}

@font-face {
    font-family: "font-3";
    src: url(./fonts/GreatVibes-Regular.ttf);
}

$font-1: "font-1"; //La police principale
$font-2: "font-2";  // La grosse police, celle du titre
$font-3: "font-3";  // La police d'écriture à la main

$color-1: #1D1D1D; // La couleur de fond de la partie principale
$color-2: #515152; //La couleur du texte en fond
$color-3: #181818; // La couleur de la Navbar
$color-4: #8d8d8d; // La couleur de la balise 
$color-5: #08fdd8; // La couleur du bouton

body{
    box-sizing: border-box;
}

#root{
   position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page {
    //position: absolute;
    width: 100%;
    background-color: $color-1;
    &:before {
        content: '<body>';
        color: $color-2;
        position: absolute;
        font-size: 1.2rem;
        left: 10.5rem;
        font-family: $font-3;
    }
    &:after {
        content: '</body>';
        color: $color-2;
        position: absolute;
        font-size: 1.2rem;
        left: 10.5rem;
        margin-top: -2.5rem;
        font-family: $font-3;
    }
}

.navbar_container {
    top: 0;
    left: 0;
    height: 100vh;
    width: 12%;
    position: sticky;
    background-color: $color-3;
}

.main{
    position: absolute;
    margin-left: 13%;
    top: 10%;
}

h1{
    font-family: $font-2;
    color: white;
    line-height: 70px;
    font-size: 83px;
    margin-left: 5.7rem;
    &:before {
        content: '<h1>';
        color: $color-2;
        position: absolute;
        font-size: 1.2rem;
        margin-top: -3rem;
        left: 3.5rem;
        font-family: $font-3;
    }
    &:after {
        content: '</h1>';
        color: $color-2;
        position: absolute;
        font-size: 1.2rem;
        left: 3.5rem;
        margin-top: 3.5rem;
        font-family: $font-3;
    }
}

.type_machine{
    font-size: 1.6rem;
    font-family: $font-1;
    color: $color-4;
    margin-left: 6rem;
    &:before {
        content: '<p>';
        color: $color-2;
        position: absolute;
        font-size: 1.2rem;
        margin-top: -1rem;
        left: 3.5rem;
        font-family: $font-3;
    }
    &:after {
        content: '</p>';
        color: $color-2;
        position: absolute;
        font-size: 1.2rem;
        left: 3.5rem;
        margin-top: 2.5rem;
        font-family: $font-3;
    }
}

.green_empty_btn{
    color: $color-5;
    border: 1px solid $color-5;
    background-color: transparent;
    letter-spacing: 4px;
    padding: 15px;
    font-size: 14px;
    margin-left: 5.7rem;
}

.img-profile{
    max-width: 50%;
    max-height: 50%;
}
article {
    align-items: end;
}
section {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
main{

}